body{
    font-family: 'Merriweather', serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
section{
    height: 500px;
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}
h1{
    font-size: 50px;
    font-family: 'Merriweather', serif;

}
h1 span{
    color: #f0932b;
}
h2{
    font-size: 40px;
}
 /* Top Banner Started*/
.main-header{
    border-left: 3px solid #eb4d4b;
    padding-left: 10px;
    
}
.top-banner{
    display: flex;
}
.half-width{
    width: 50%;
    margin-left: 5%;
    
}
.top-left{
    padding-top: 80px;
}
.half-width img{
    width: 70%;
}
.button{
    margin: 30px 0;
}
.link-button{
    background-color: #eb4d4b;
    color: #fff;
    padding: 10px 40px;
    font-weight: 500;
    border-radius: 5px;
    text-decoration: none;
    
}
/* Top Banner Ended*/


/* Mission Banner Started*/

.mission-banner h2{
    text-align: center;
}
.mission-banner h2 span{
    color: #f0932b;
    
}
.misssion-banner-flexible{
    display: flex;
    margin-left: 5%;
}
.mission-width{
    width: 30%;
    padding: 40px 20px;
    margin: 0 10px;
    border-radius: 20px;
    
}
.mission-picsize{
    width: 35%;
}
.mission{
    background-color: #e8f4f6;
}
.Visions{
    background-color: #f7e8f5fc;
}
.Goals{
    background-color: #fdf1dc;
}
/* Mission Banner Ended*/